.usermenu {
  padding: 10px 0px;
  background-color: #f0fff0;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  z-index: 0;
  height: 90vh;
  position: sticky;
  top: 70px !important;
}

.usermenu ul li:hover {
  background-color: #eaf3fd;
}

.activeLink {
  background-color: #e5e7eb;
}
